In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [39]:
farms = pd.read_csv("../data-mining/farms.csv")
rubrics = pd.read_csv("../data-mining/rubrics.csv")
stocks = pd.read_csv("../data-mining/stocks.csv")

## Add departement column

In [40]:
def departement_of(code_postal: int) -> int:
    departement = int(str(code_postal)[:2])

    # dom_tom departement code is 3 digits-long instead of 2
    dom_tom: bool = departement == 97
    if dom_tom:
        departement = int(str(code_postal)[:3])

    return departement

farms["departement"] = farms.codePostal.apply(departement_of)

In [41]:
farms_stocks = farms.merge(stocks, left_on="name", right_on="raison_sociale")

In [42]:
farms_stocks = farms_stocks[["name", "rubric_id", "quantite", "unite", "departement", "type"]]
farms_stocks

,name,rubric_id,quantite,unite,departement,type
0,GAEC DES BOURRYS,2102,1069.0,Animaux-Eq,89,PORCS
1,GAEC PORC D'ALGRES,3660,860.0,NaN,81,PORCS
2,GAEC PORC D'ALGRES,2102,860.0,NaN,81,PORCS
3,GAEC FERME H ET L,2101,105.0,NaN,50,BOVINS
4,GAEC FERME H ET L,2101,150.0,NaN,50,BOVINS
...,...,...,...,...,...,...
23682,DE LA CLINERIE (GAEC) LEFEVRE Christian,2111,25500.0,Animaux-Eq,45,VOLAILLES
23683,DE LA CLINERIE (GAEC) LEFEVRE Christian,2111,25500.0,NaN,45,VOLAILLES
23684,DES JOURNETS (SCEA),2102,1857.0,Animaux-Eq,41,PORCS
23685,EARL DES MUSSETS,2111,40000.0,u,41,VOLAILLES
23686,DE LA FORET (EARL),2102,1272.0,Animaux-Eq,41,PORCS

In [43]:
farms_stocks = pd.DataFrame({'quantite_mean' : farms_stocks.groupby(
    ["name", "rubric_id", "unite", "departement", "type"])['quantite'].mean()}).reset_index()

In [44]:
farms_stocks

,name,rubric_id,unite,departement,type,quantite_mean
0,2 L'oiselière (GAEC),2101,u,50,BOVINS,130.000000
1,33 RUE DU BOCAGE (GAEC),2102,Animaux-Eq,50,PORCS,747.000000
2,4 CANTONS DUBRON (GAEC DES ),2101,u,62,BOVINS,215.000000
3,4 CANTONS DUBRON (GAEC DES ),2102,Animaux-Eq,62,BOVINS,384.000000
4,4 CANTONS DUBRON (GAEC DES ),2111,Animaux-Eq,62,BOVINS,22500.000000
...,...,...,...,...,...,...
12049,earl la roche marteau,2101,u,36,BOVINS,180.000000
12050,gene +,2102,Animaux-Eq,62,PORCS,1478.200000
12051,quatres sites (GAEC des),2101,u,19,BOVINS,107.666667
12052,quatres sites (GAEC des),2102,Animaux-Eq,19,BOVINS,830.000000
12053,serge DUVAL,2102,Animaux-Eq,50,PORCS,462.000000

In [45]:
farms_stocks["departement_unite_rank"] = farms_stocks.groupby(
    ["unite", "departement"])['quantite_mean'].rank()